# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Project\cs245-as3-public-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
